body{
  height: 100%;
}
#nav{
  border-radius: 0;
  background-color: #317E43;
}

#logo{
  margin-top: 20px;
  margin-left: 20px;
}

#conteudo{
  min-height: 90%; !important;
  padding: 20px 10px 0px 20px;
  margin-top: 1%;
}

footer{
  min-height: 10%;
  background-color:#ccc;
  text-align: center;
  padding: 20px;
  color:#8a8a8a;
}
.mapa{
  padding: 20px;
}
