<!DOCTYPE html>
<html>
	<head>
		<title>Classificação</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/semantic/out/semantic.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
		<script src="{% static 'semantic/out/semantic.min.js' %}"></script>
	</head>
	<body>

		<section id="conteudo" >
			<header id="header" class="ui grid">
				{% block menu %}
				{% endblock %}

				{% block logo %}
				{% endblock %}
			</header>

			{% block conteudo %}
			{% endblock %}
		</section>
		<footer>
			Plugin de Classificação - IFC
		</footer>


	</body>
</html>
