{% extends 'base.html' %}
{% load staticfiles %}
		{% block menu %}
			{% include 'menuHorizontalImagens.html' %}
		{% endblock %}
		{% block conteudo %}
    <div class="ui grid">
				<div class="four wide column" id="menuVertical" >
					<div class="ui inverted grey vertical menu">
					  <a class="active item" href="/imagens/">
					    Listar Imagens <i class="chevron circle right large icon"></i>
					  </a>
						<a class="item" href="/uploadImagem/">
					    Adicionar Imagem
					  </a>
					</div>
        </div>

				<div class="ten wide column">

          <table class="ui celled striped centered table">
						<thead>
					    <tr class="center aligned">
								<th>#id</th>
					    	<th>Título da Imagem</th>
					    	<th>Opções</th>
					  	</tr>
						</thead>
            <tbody>

            {% for imagem in imagens %}

							<tr>

	                <td><a href="/visualizarImagem/{{ imagem.id }}/">{{ imagem.id }}</a></td>
									<td><a href="/visualizarImagem/{{ imagem.id }}/">{{ imagem.nome }}</a></td>
									<td class="center aligned">
										<a href="/editarImagem/"><button class="ui icon inverted yellow button"><i class="write yellow icon"></i></button></a>
										<a href="/deletarImagem/"><button class="ui icon inverted pink button"><i class="trash pink icon"></i></button></a>
										<a href="/visualizarImagem/{{ imagem.id }}/"><button class="ui icon inverted blue button"><i class="plus blue icon"></i></button></a>
									</td>
							</tr>
            {% endfor %}
            </tbody>
          </table>
				</div>
		</div>
    {% endblock %}
