{% extends "base.html" %}
		{% load staticfiles %}

		{% block menu %}
			<div class="row">
				<nav id="nav" class="ui four item green inverted top fixed menu">
					<a class="active item">Home</a>
					<a class="item">Conheça mais</a>
					<a class="item">Versões</a>
					<a class="item">Comunidade</a>
				</nav>
			</div>
		{% endblock %}
		{% block conteudo %}
		<div class="ui grid">
				<div class="four wide column"></div>
				<div class="eight wide column">
					<div class="ui huge centered block header">Bem-vindo ao Plugin de classificação</div>
					<img class="ui big image mapa" src="{% static 'imgLayout/mapa.jpg' %}">
					<div class="row">
						<a class="fluid ui inverted red button" href="/imagens/">Começar agora</a>
					</div>
				</div>
				<div class="four wide column"></div>
		</div>
		{% endblock %}
