<div class="row">
  <nav id="nav" class="ui four item inverted grey top fixed menu">
    <a class="active green item">Imagens</a>
    <a class="item">Amostras</a>
    <a class="item">Classificação</a>
    <a class="item">Entorno</a>
  </nav>
</div>
