{% extends 'base.html' %}
{% load staticfiles %}
		{% block menu %}
				{% include 'menuHorizontalImagens.html' %}
		{% endblock %}
		{% block conteudo %}
    <div class="ui grid">
			<div class="four wide column" id="menuVertical" >
					<div class="ui inverted grey vertical menu">
						<a class="item" href="/imagens/">
							Listar Imagens
						</a>
            <a class="active item" href="/uploadImagem/">
					    Adicionar Imagem <i class="chevron circle right large icon"></i>
					  </a>
					</div>

        </div>

				<div class="twelve wide column">
					{% if msg == 1 %}
						<div class="ui positive message">
							<div class="header">
								Imagem Cadastrada com sucesso
							</div>
					 	</div>

					{% elif msg == 2 %}
						<div class="ui negative message">
							<div class="header">
								O formato da imagem está invalido, favor escolher outra!
							</div>
						</div>
					 {% endif %}
          <form class="ui form" href="." method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							{{ form }}
							<input type="submit" value="Salvar">
					</form>

				</div>
		</div>
    {% endblock %}
