{% extends 'base.html' %}
{% load staticfiles %}
		{% block menu %}
				{% include 'menuHorizontalImagens.html' %}
		{% endblock %}
		{% block conteudo %}
    <div class="ui grid">
			<div class="four wide column" id="menuVertical" >
					<div class="ui inverted grey vertical menu">
						<a class="active item">
							Listar Imagens <i class="chevron circle right large icon"></i>
						</a>
            <a class="item" href="/uploadImagem/">
					    Adicionar Imagem
					  </a>
					</div>

        </div>

				<div class="eight wide column">
          	<img class="ui big image mapa" src="/media{{ MEDIA_URL }}/{{ imagem.endereco }}">
				</div>

        <div class="four wide column">
          <div class="ui segments">
            <div class="ui inverted grey segment">
              <p>Detalhes</p>
            </div>
            <div class="ui padded segment">
              <p>Nome: {{ imagem.nome }}</p>
            </div>
            <div class="ui padded segment">
              <p>Descrição:{{ imagem.descricao }}</p>
            </div>
          </div>
				</div>
		</div>
    {% endblock %}
